<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>V.V.R.Raj Satyen</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top topNav" role="navigation">
        <img class="hide" alt="File:Rotating globe.gif" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Rotating_globe.gif" width="317" height="317" data-file-width="317" data-file-height="317" style="height: 30px;width: 30px;position: relative;bottom: -64px;left: 80px;margin-top: -13px;;">
        <div class="">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button"class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topNav-header" href="../index.html">V.V.R. Raj Satyen</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right topNavList">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">5 Portfolio</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div id="google_translate_element"style="margin: -6px -3px -18px 24px;position: relative;Top: -30px;"></div>
                            </li>
                        </ul>

                </ul>
                </li>

                </ul>

                <div id="google_translate_element"></div>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="../img/1.jpg" alt="1" height="900" width="600">
            </div>
            <div class="col-md-6">
               <h2 style="font-size: 30px;font-family: serif;font-weight: bolder;color: rgba(52, 124, 216, 0.88);">V.V.R. Raj Satyen</h2>
                <p style="margin: 0 0 10px;font-family: monospace;font-size: inherit;text-align: justify">V.V.R. Raj Satyen has rich Entrepreneurial, Operational and Managerial experience earned in diverse business,and Combines technical know - how of enterprises with shrewd business acumen.</p>
                <p style="margin: 0 0 10px;font-family: monospace;font-size: inherit;text-align: justify">His capabilities to lead and translate vision and strategy to successful execution are worth mentioning . He possesses vast experience in managing diverse Organizations  , applying best practises,rallying cross functional team participation.  </p>
                <p style="margin: 0 0 10px;font-family: monospace;font-size: inherit;text-align: justify">Satyen  believes in people and can create a dynamic climate of work.Satyen is an exceptional  leader and developer of highly skilled and loyal service teams.He has strong conceptul skills and the ability to carry ideas and concepts through to achieve objectives and business goals.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
           <h2 class="page-header" style="color: rgb(45, 81, 210);">V.V.R.Raj Satyen</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../img/30.jpg" alt="30" height="750" width="450" height="280px">
                    <div class="caption">
                        <h3 style="color: yellowgreen;font-family: serif;">V.V.R. Raj Satyen<br>
                           
                        </h3>
                           
                        </h3>
                        <p style="text-align: left;font-family:initial;text-align: justify;text-align: justify;">Mr.V.V.R.Raj Satyen has formulated regulation for AIADMK AMMA IT Wing where it follows fair, clean and free practice as a principle. Mr.Satyen believes Fair – “The principle equal treatment is given to the party and candidates but also to the timing and location space”. Mr.V.V.R.Raj Satyen has provided allotment of prime viewing times to party information broadcast at peak slots and off-peak slots. </p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../img/44.jpg" alt="44" height="750" width="450">
                    <div class="caption">
                        <h3 style="color: yellowgreen;font-family: serif;">Tamilnadu Basketball Association<br>
                            
                        </h3>
                        <p style="text-align: left;font-family:initial;text-align: justify;text-align: justify;">Tamilnadu Basketball Association or TNBA is the governing and controlling body of basketball in Tamilnadu, and is responsible for the development and promotion of the sport at all levels in the state. TNBA is affiliated to BFI (Basketball Federation of India), TNOA (Tamilnadu Olympic Association) and is recognized by SDAT (Sports Development Authority of Tamilnadu). TNBA headed by President: Mr.V.V.R.Raj Satyen.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../img/42.jpg" alt="42" height="750" width="450">
                    <div class="caption">
                        <h3 style="color: yellowgreen;font-family: serif;">Tamilnadu Rugby Association <br>
                          
                        </h3>
                        <p style="text-align: left;font-family:initial;text-align: justify;text-align: justify;"> Mr.V.V.R.RajSatyen The TNFRU is administered by the President Mr.V.V.R.RajSatyen. The TNFRU is developing a new sport utilizing business practices. TNFRU has employed a Technical Director and have initiated a comprehensive coach and referee training course. The union now has started employing local coaches picked from players from economically challenged backgrounds.</p>
                        <br>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Raja Website 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );

        /*
            To remove the "powered by google",
            uncomment one of the following code blocks.
            NB: This breaks Google's Attribution Requirements:
            https://developers.google.com/translate/v2/attribution#attribution-and-logos
        */

        // Native (but only works in browsers that support query selector)
        if(typeof(document.querySelector) == 'function') {
            document.querySelector('.goog-logo-link').setAttribute('style', 'display: none');
            document.querySelector('.goog-te-gadget').setAttribute('style', 'font-size: 0');
        }

        // If you have jQuery - works cross-browser - uncomment this
        jQuery('.goog-logo-link').css('display', 'none');
        jQuery('.goog-te-gadget').css('font-size', '0');
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>

</html>
