<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VVR.RajSatyen</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top topNav" role="navigation">
        <img class="hide" alt="File:Rotating globe.gif" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Rotating_globe.gif" width="317" height="317" data-file-width="317" data-file-height="317" style="height: 30px;width: 30px;position: relative;bottom: -64px;left: 80px;margin-top: -13px;;">
        <div class="">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button"class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topNav-header" href="/">V.V.R. Raj Satyen</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right topNavList">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/service">Services</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/portfolio1">1 Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio2">2 Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio3">3 Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio4">4 Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio5">5 Portfolio</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/blog1">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="/blog1">Blog Home 2</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div id="google_translate_element"style="margin: -6px -3px -18px 24px;position: relative;Top: -30px;"></div>
                            </li>
                        </ul>

                </ul>
                </li>

                </ul>

                <div id="google_translate_element"></div>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">One Column Portfolio   
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">One Column Portfolio</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-5-col.html">
                    <img class="img-responsive img-hover" src="../img/18.jpg" alt="18" height="450" width="700">
                </a>
            </div>
            <div class="col-md-5">
                <h3>AIADMK IT WING</h3>
                <h4>Technology Today</h4>
                <p style="text-align: left;font-family:initial;text-align: justify;">Mr.V.V.R.Raj Satyen and him team have devised the technology which is helping the party and candidates to achieve the basic methodology of getting public connected faster and more effectively and at a lower expense. The Party is using modern technology to manage large amounts of data on analytics and modelling to identify new voters. This model allows them to accurately target and aggressively recruit a precise voter block, as we call this as a “Micro Target”.</p>
              <p style="text-align: left;font-family:initial;text-align: justify;">The Digital Technology of the party is creating a new environment where candidates are engaging with the voters at a whole different level. Mr.V.V.R.Raj Satyen has implemented state of art technology, where it is upgradable at each level of political campaigns. The party’s technology and structure is dynamic and efficient, which delivers zero error in thecampaign efficiency and the delivery model. </p>
                <a class="btn btn-primary" href="portfolio-5-col.html">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

       <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Raja Website 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
     <script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );

        /*
            To remove the "powered by google",
            uncomment one of the following code blocks.
            NB: This breaks Google's Attribution Requirements:
            https://developers.google.com/translate/v2/attribution#attribution-and-logos
        */

        // Native (but only works in browsers that support query selector)
        if(typeof(document.querySelector) == 'function') {
            document.querySelector('.goog-logo-link').setAttribute('style', 'display: none');
            document.querySelector('.goog-te-gadget').setAttribute('style', 'font-size: 0');
        }

        // If you have jQuery - works cross-browser - uncomment this
        jQuery('.goog-logo-link').css('display', 'none');
        jQuery('.goog-te-gadget').css('font-size', '0');
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
