<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VVR.RajSatyen</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top topNav" role="navigation">
        <img class="hide" alt="File:Rotating globe.gif" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Rotating_globe.gif" width="317" height="317" data-file-width="317" data-file-height="317" style="height: 30px;width: 30px;position: relative;bottom: -64px;left: 80px;margin-top: -13px;;">
        <div class="">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button"class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topNav-header" href="/">V.V.R. Raj Satyen</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right topNavList">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/service">Services</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/portfolio1">1 Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio2">2 Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio3">3 Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio4">4 Portfolio</a>
                            </li>
                            <li>
                                <a href="/portfolio5">5 Portfolio</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/blog1">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="/blog1">Blog Home 2</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div id="google_translate_element"style="margin: -6px -3px -18px 24px;position: relative;Top: -30px;"></div>
                            </li>
                        </ul>

                </ul>
                </li>

                </ul>

                <div id="google_translate_element"></div>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                    <small>Chennai</small>
              
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="../img/vvr.jpg" alt="vvr" height="450" width="750">
            </div>
        </div>
        <!-- /.row -->

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="font-size: 30px;font-family: sans-serif;color: #8ec51d;">Services Panels</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Software Development & Consulting</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">Over the year the concern transformed into "RiseAhead",a 360 degree software solutions provider which spread its wings not only to Chennai. </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Service as an academician</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">V.V.R. Raj Satyen envisage on multiple projects which ensures in educating the rural youths and underprivileged citizens of the society.Treasurere for Teacher Training</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Social Entrepreneurship</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">V.V.R. Raj Satyen has formed ConsoTree with the support of experts and elites of Madurai;ConsoTree is a robust social enterprise platform designed not-profit (NPO).</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Sports Development and Service</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">V.V.R.Raj Satyen turned his passion for  sports into a community developmental service.He is serving for the cause of Basketball & Rugby Development.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="font-size: 30px;font-family: sans-serif;color: #8ec51d;">Service Tabs</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Software Development & Consulting</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i>Service as an academician</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-support"></i>Social Entrepreneurship</a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-database"></i>Sports Development and Service</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Software Development & Consulting</h4>
                        <p> The company primarily serves manufacturing industry and concentrates in Oracle database and IT infrastructure management.</p>
                        
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>Service as an academician</h4>
                        <p>A number of focused initatives have been implemented to bring about general health awareness and improve the level of education through the following academic institutions in which he hold chief positions.</p>
                        
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>Social Entrepreneurship</h4>
                        <p>V.V.R.Raj Satyen turned his passion for  sports into a community developmental service.He is serving for the cause of Basketball & Rugby Development.
                </p>
                        <p></p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>Sports Development and Service</h4>
                        <p>V.V.R.Raj Satyen turned his passion for  sports into a community developmental service.He is serving for the cause of Basketball & Rugby Development.</p>
                        <p> 
                    Newly Listed No bookings yet Guide Locations:ChennaiLanguages:English Having grown up in Tamil Nadu, I discovered the passion for travel when I started leading and guiding groups through India. I worked with and for some of the largest tour operators to India.</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="font-size: 30px;font-family: sans-serif;color: #8ec51d;">Service List</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color: #e2290a;">SECRTARY, IT WING, AIADMK (AMMA)</h4></h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">He believes Clean- “Transparency in party and campaign. It is important to protect the rights of voters as well as prevent misuse of wrong communication. Transparency is also important because the public has the right to receive relevant information and to be informed. Voters must have relevant information as to the support given to political party”.  </p>

                        <p style="text-align: left;font-family:initial;text-align: justify;">He believes Free –“The regulation of the party and campaign is necessary to protect the democratic process, including the spending limits are appropriate. Reasonable limitations on campaign justifies where there is necessary to ensure that the free choice of voters is not undermined or the democratic process distorted for any candidate or for the party”.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color: #e2290a;">GETEZEE ONLINE VENTUERS PRIVATE LIMITED – DIRECTOR</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">Getezee Online Ventures Private Limited is a Private incorporated on 04 July 2014. It is classified as Non-govt company and is registered at Registrar of Companies, Chennai. Its authorized share capital is Rs. 200,000 and its paid up capital is Rs. 200,000.It is inolved in Other retail trade of new goods in specialized stores.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color: #e2290a;">MUDRA STRATEGIES AND REALITIES PRIVATE LIMITED-DIRECTOR</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">Mudhra Energy Solutions Private Limited is a Private incorporated on 24 May 2013. It is classified as Non-govt company and is registered at Registrar of Companies, Chennai. Its authorized share capital is Rs. 100,000 and its paid up capital is Rs. 100,000.It is inolved in Production , collection and distribution of electricity.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color:#e2290a;">RISEHEAD TECHNOLOGY &amp; STRATEGIC CONSULTANTS- CHIEF ARCHITECT &amp; FOUNDER</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">Risehead Technology Strategic Consultancy, operates at the intersection of business and technology.</p>
                        <p style="text-align: left;font-family:initial;text-align: justify;"> Because technology is transforming every organization, you need technology-enabled solutions to take advantage of the opportunities.</p>
                      
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bomb fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color:#e2290a;"> CONSORTIUM FOR TECHNOLOGY RESEARCH ENTREPRENEURSHIP AND EMPLOYMENT – DIRECTOR</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">Consortium For Technology Research Entrepreneurship And Employment is a Private incorporated on 02 April 2014. It is classified as Non-govt company and is registered at Registrar of Companies, Chennai. Its authorized share capital is Rs. 100,000 and its paid up capital is Rs. 100,000.It is inolved in Other service activities.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color: #e2290a;">TAMIL NADU RUGBY FOOTBALL UNION-PRESIDENT</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">The Tamil Nadu Rugby Foot Ball Union is a legally registered non-profit society with the goal of developing the sport of rugby union football in Tamil Nadu. TNFRU started with 4 adult clubs playing in Chennai and have launched an ambitious rugby development programme in schools. </p>

                        <p style="text-align: left;font-family:initial;text-align: justify;">There are now more than 4 orphanages playing rugby that are fully sponsored by TNFRU. The Vision of Mr.V.V.R.RajSatyen goal is to cover more than 12 schools and cover across the state of Tamil Nadu playing rugby.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color: #e2290a;">TAMIL NADU BASKETBALL ASSOCIATION – PRESIDENT</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">TNBA VISION:
To make basketball as the most popular and mainstream community sports.
TNBA MISSION:
To develop and promote the game of basketball which will bring the people together and unite the community.
TNBA’s Major Initiatives 
a.  Developing and organizing the State Teams (Senior, U18, U16, and U14).
b.  Conducting State Championships and Overseeing District League as platforms for scouting and talent identification.
c.  Development of Referees and coaches by awarding certifications and organizing clinics.
 </p>

                        <p style="text-align: left;font-family:initial;text-align: justify;">Being the President Raj Satyen has been passionately engaging and involving with sports persons on the ground and helping them to paste the success. </p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color: #e2290a;">BALAMURUGAN POLYTECHNIC COLLEGE – PRESIDENT</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">Hailing from a teaching family, Raj Satyen feels education is key for poor and underprivileged.He is a active champion for many transformational academic initiatives.</p>
                        <p style="text-align: left;font-family:initial;text-align: justify;">Raj Satyen has created AMMA Contemporary English (ACE), a framework for Govt. School kids to be at par with leading private schools</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="FONT-FAMILY: serif;color: #e2290a;">CENTWIN COLLEGE OF EDUCATION - TREASURER</h4>
                        <p style="text-align: left;font-family:initial;text-align: justify;">Centwin College of Education & Institute for teacher training is affiliated by Tamil Nadu Teacher Education University and recognized by N.C.T.E.</p>
                        <P style="text-align: left;font-family:initial;text-align: justify;">Institute having a quality policy to create a center of excellence for imparting state of the art education that spells success for the budding teachers.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Raja Website 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
     <script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );

        /*
            To remove the "powered by google",
            uncomment one of the following code blocks.
            NB: This breaks Google's Attribution Requirements:
            https://developers.google.com/translate/v2/attribution#attribution-and-logos
        */

        // Native (but only works in browsers that support query selector)
        if(typeof(document.querySelector) == 'function') {
            document.querySelector('.goog-logo-link').setAttribute('style', 'display: none');
            document.querySelector('.goog-te-gadget').setAttribute('style', 'font-size: 0');
        }

        // If you have jQuery - works cross-browser - uncomment this
        jQuery('.goog-logo-link').css('display', 'none');
        jQuery('.goog-te-gadget').css('font-size', '0');
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
